@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Roboto+Slab&family=Work+Sans&display=swap');
*{
    margin:0;
    padding: 0;
    font-family:"Roboto",sans-serif;
}
nav{
    display: flex;
    justify-content:space-around;
    
}
.heading{
    display:inline-flex;
    justify-content: space-between;
    margin: 15px 100px 0 0;
}
.heading h1{
    font-size: 28px;
    font-family: "Roboto",sans-serif;
}
.Docplanner{
    color:rgb(8,188,164);
}
.Group{
    color:rgb(196, 192, 187);
}
.heading img{
    width: auto;
    height: 30px;
    margin-right:5px;
}
.navbar-dropdowns{
    list-style: none;
    display: none;
    color:rgb(196, 192, 187);
    width:100%;
    font-size:14px;
    line-height: 50px;
    margin: 10px 40px 0 0;

}

.navbar-main-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top:25px;
    justify-content: space-around;

}
.navbar-main-list li{
    padding:0 10px;
    font-size: 14px;
    color:rgb(196, 192, 187);

}

.About a{
    text-decoration: none;
    color:rgb(7, 168, 147) ;
}
.career a{
    text-decoration: none;
    color:rgb(196, 192, 187);
}
.navbar-main-list li:hover{
    color:rgb(7, 168, 147) ;
}

.career a:hover{
    color:rgb(7, 168, 147) ;
}
.dd:hover .navbar-dropdowns{
    display: block;
    background-color: white;
    box-shadow: 2px 2px 5px 0 rgb(0,0,0,0.28);

}
.container1{
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1 img{
    height:37px;
    width:37px;
}
.container1 p{
    margin-top: 45px;
    font-size: 30px;
    font-family:"Work Sans",sans-serif;
    font-weight: lighter;
    color:rgb(7, 168, 147) ;
}
.container2{
    display:flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.container2 p{
    color: rgb(130, 128, 125);
    font-family:"Roboto";
    font: size 25px;
    line-height: 27px;
    text-align: justify; 
}
.paragrapgh1{
    margin-right:16px;
}
.paragrapgh2{
    margin-left:16px;
}
.container3{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}
.For-Patients{
    background-color: rgb(0,204,177);
    margin-right:20px;
    font-family:"Work Sans",sans-serif;
    color:white;
    font-weight: lighter;
    font-size: 22pt;
    justify-content: center;
    padding:40px 25px 20px 25px;
    border-radius: 20px;
}
.For-Patients:hover{
    background-color: rgb(0, 189, 164);
}
.For-Patients form{
    font-size: 16pt;
}
.For-Doctors{
    background-color: rgb(61,131,223);
    font-family:"Work Sans",sans-serif;
    color:white;
    font-weight: lighter;
    font-size: 22pt;
    justify-content: center;
    padding:40px 25px 20px 25px;
    border-radius: 20px;   
}
.For-Doctors:hover{
   background-color: rgb(57, 118, 199);
}
.For-Doctors form{
    font-size:16pt;
}
.For-Clinics{
   background-color:rgb(27,39,52);
   font-family:"Work Sans",sans-serif;
    color:white;
    font-weight: lighter;
    font-size: 22pt;
    justify-content: center;
    padding:40px 25px 20px 25px;
    border-radius: 20px;
    margin-left:20px;
}
.For-Clinics:hover{
    background-color:rgb(20, 29, 39);
}
.For-Clinics form{
    font-size: 16pt;
}
.global-company{
    font-size: 21pt;
    font-family:"Work Sans",sans-serif;
    color:rgb(7, 168, 147);
    font-weight: lighter;
    margin:45px 0 45px 152px;
    width:100%;
    line-height: 33px;
}
.container4{
    padding: 329px 586px;
    background-image: linear-gradient(to bottom right,rgb(210,242,243),rgb(227,250,247));
    margin-top:30px;
    position: relative;
}
.one-two-three{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap:nowrap;
    position:relative;
    bottom:270px;
}
.one{
    display:flex;
    flex-direction: column;
    width:230%;
    position: absolute;
    top:70px;
    right:150px;

}
.one-a{
    font-size: 26pt;
    font-family:"Work Sans",sans-serif;
    color:rgb(7, 168, 147);
    font-weight: lighter;
    margin-right:700px;
    width:100%;
    line-height: 47px;
    height:80px;
}
.one-b{
    font-family:"Roboto",sans-serif;
    font-size: 14px;
    color: rgb(130, 128, 125);
    line-height:25px;
}
.two{
    background-color: white;
    padding:20px 20px 30px 20px;
    position: absolute;
    left:115px;
    top:10px;
}
.two-a{
    font-size:18pt;
    font-family:"Work Sans",sans-serif;
    color: rgb(7, 168, 147);
    width: 145px;
    text-align: center;
    margin-left:40px;
    line-height: 35px;
}
.two-b{
    font-size:14px;
    font-family:"Roboto",sans-serif;
    color: rgb(130, 128, 125);
    width: 220px;
    text-align: center;
    margin-top:20px;
}
.fa-flag{
    margin:30px 0 35px 100px;
    color:rgb(7, 168, 147);
}
.three{
    background-color: white;
    padding:55px 10px 55px 10px;
    position: absolute;
    left:400px;
}
.three-a{
    font-size:18pt;
    font-family:"Work Sans",sans-serif;
    color: rgb(7, 168, 147);
    width: 145px;
    text-align: center;
    margin-left:40px;
    line-height: 35px;
}
.three-b{
    font-size:14px;
    font-family:"Roboto",sans-serif;
    color: rgb(130, 128, 125);
    width: 220px;
    text-align: center;
    margin-top:20px;
}
.fa-calendar-days{
    color: rgb(7, 168, 147);
    margin:20px 0 30px 100px;
}
.un-deux-trois{
    display:flex;
    position: relative;
}
.un{
    position:absolute;
    right:250px;
    top:30px;
}
.un img{
    height:300px;
}
.deux{
    background-color: white;
    padding:55px 10px 55px 10px;
    position: absolute;
    left:115px;
    top:45px;
}
.deux-a{
    font-size:18pt;
    font-family:"Work Sans",sans-serif;
    color: rgb(7, 168, 147);
    width: 145px;
    text-align: center;
    margin-left:35px;
    line-height: 35px; 
}
.deux-b{
    font-size:14px;
    font-family:"Roboto",sans-serif;
    color: rgb(130, 128, 125);
    width: 220px;
    text-align: center;
    margin-top:20px;
}
.fa-person{
    color: rgb(7, 168, 147);
    margin:0 0 25px 90px;
}
.trois{
    background-color: white;
    padding:55px 10px 55px 10px;
    position: absolute;
    left:400px;
    top:20px;
}
.trois-a{
    font-size:18pt;
    font-family:"Work Sans",sans-serif;
    color: rgb(7, 168, 147);
    width: 145px;
    text-align: center;
    margin-left:35px;
    line-height: 35px; 
}
.trois-b{
    font-size:14px;
    font-family:"Roboto",sans-serif;
    color: rgb(130, 128, 125);
    width: 220px;
    text-align: center;
    margin-top:20px;
}
.fa-people-group{
    color: rgb(7, 168, 147);
    margin:0 0 20px 90px;
}



